body{
    margin:0%;
    text-align: center;
    font-family: 'Merriweather', serif;

}
h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}
h2{
    margin-top: 0;font-family: 'Sacramento', cursive;

    font-family: 'Montserrat', sans-serif;
}
h3{
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}


h1{
    width: 100%;
    margin: 0 auto 0 auto;
    position: absolute;
    top: 20%;
}
p1
{
    position: absolute;
    top: 25%;
    margin:0 auto 0 auto;
    left: 45%;
}
body{
    margin: 0%;
}
.pahar
{
    width: 100%;
}
.top_container{
    margin: 0%;
}
.myPic{
    width: 20%;
}
.bottom-container, .contact-me{
    background-color: #AFD3E2;
    height: 80px;
}
.asdf
{
    position: relative;
    top: 8px;
}
hr{
   background-color:#AFD3E2 ;
}